__pychache__/
*.pyc
NatStat CSVs/
Torvik-CSVSs/
rosteriq.db
*.db
*.db-wal
*.db-shm
PRAGMA
TeamPlayerInformation/
*.csv
*.pkl
*.json
*.sql
*.DS_Store
*.feather
*.rds
*.txt
OldPlayerInformationExtraction/apikeys.json
*.log
.env