__pychache__/
*.pyc
NatStat CSVs/
Torvik-CSVSs/
rosteriq.db
*.db
*.db-shm
*.db-wal
TeamPlayerInformation/
*.csv
*.pkl
*.json
*.sql
*.DS_Store
*.feather
*.rds
OldPlayerInformationExtraction/apikeys.json
*.log
*.png
.env

# Teams
!Analysis/Clustering/Teams/2021/KClustering/profiles.csv
!Analysis/Clustering/Teams/2021/PCA/*.json
!Analysis/Clustering/Teams/2022/KClustering/profiles.csv
!Analysis/Clustering/Teams/2022/PCA/*.json
!Analysis/Clustering/Teams/2023/KClustering/profiles.csv
!Analysis/Clustering/Teams/2023/PCA/*.json
!Analysis/Clustering/Teams/2024/KClustering/profiles.csv
!Analysis/Clustering/Teams/2024/PCA/*.json
!Analysis/Clustering/Teams/archetypeLabels.json

# Players
!Analysis/Clustering/Players/2021/KClustering/cluster_profiles_C.csv
!Analysis/Clustering/Players/2021/KClustering/cluster_profiles_G.csv
!Analysis/Clustering/Players/2021/KClustering/cluster_profiles_F.csv
!Analysis/Clustering/Players/2021/PCA/*.json
!Analysis/Clustering/Players/2021/PCA/*.csv

!Analysis/Clustering/Players/2022/KClustering/cluster_profiles_C.csv
!Analysis/Clustering/Players/2022/KClustering/cluster_profiles_G.csv
!Analysis/Clustering/Players/2022/KClustering/cluster_profiles_F.csv
!Analysis/Clustering/Players/2022/PCA/*.json
!Analysis/Clustering/Players/2022/PCA/*.csv

!Analysis/Clustering/Players/2023/KClustering/cluster_profiles_C.csv
!Analysis/Clustering/Players/2023/KClustering/cluster_profiles_G.csv
!Analysis/Clustering/Players/2023/KClustering/cluster_profiles_F.csv
!Analysis/Clustering/Players/2023/PCA/*.json
!Analysis/Clustering/Players/2023/PCA/*.csv

!Analysis/Clustering/Players/2024/KClustering/cluster_profiles_C.csv
!Analysis/Clustering/Players/2024/KClustering/cluster_profiles_G.csv
!Analysis/Clustering/Players/2024/KClustering/cluster_profiles_F.csv
!Analysis/Clustering/Players/2024/PCA/*.json
!Analysis/Clustering/Players/2024/PCA/*.csv

!Analysis/Clustering/Players/archetypeLables.json
!Analysis/CalculateScores/CSV/sos_value_adjustment.csv